<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite: Amazon.in ">
    <listeners>
        <listener class-name="org.amazon.listener.ExtentReportListener"></listener>
    </listeners>
    <test verbose="0" preserve-order="true" name="Amazon India" >
        <classes>
                <class name="org.amazon.test.HomeTest" />
                <class name="org.amazon.test.TVCategoryTest"></class>
                <class name="org.amazon.test.BrandResultTest"></class>
        </classes>
    </test>
</suite>